<h3>Sign in</h3>

<div>
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <div>
    	<%= f.text_field :email %>
    </div>
    <div>
    	<%= f.password_field :password %>
    </div>
    <div>
    	<%= f.submit 'Sign in' %>
    </div>
  <% end %>
